body{
    background:url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-size: cover;
    background-position:center ;
}
.heading{
    width: 100%;
    font-size: 30px;
    box-shadow: 5px 5px 18px rgb(37, 132, 255);
    background:linear-gradient(to right, rgb(0, 61, 175) 0%,rgb(150, 10, 150) 100%);
}

.sub-heading{
    float: none;
    background-color: #ffffff;
    color: rgb(44, 44, 44);
    border-radius: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}
.result{
    font-size: 20px;
    box-shadow:5px 5px 18px rgb(255, 173, 50);
}
.footer{
    background-color: rgb(85, 81, 81);
    color: wheat;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}